<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="be">


	<!-- PIONEER 3DX -->
		<!-- Import Rviz colors -->
		<xacro:include filename="$(find p3dx_robot)/xacro/materials.xacro" />

		<!-- Import robot -->
		<xacro:include filename="$(find p3dx_robot)/xacro/p3dx/pioneer3dx_body.xacro"/>
		<xacro:pioneer3dx_body name="chassis" parent="p3dx_base_link" meshes="package://p3dx_robot/meshes/p3dx"/>

		<!-- Laser  ->
		<xacro:include filename="$(find p3dx_robot)/xacro/laser/hokuyo.xacro"/>
		<xacro:laser name="front_laser" parent="chassis" xyz="0.16 0 0.1" rpy="0 0 0" meshes="package://p3dx_robot/meshes/laser"/>

	<!- CYTON1500-->
		<xacro:include filename="$(find p3dx_cyton1500_fusion)/xacro/cyton_gamma_1500_edited.urdf"/>
		<joint name="p3dx_joint" type="fixed">
		  <parent link="chassis"/>
		  <child link="base_footprint"/>
		  <origin rpy="0 0 1.57079633" xyz="0 0 .235"/>
		</joint>
		
	<!--  gripper  stuff  -->
		<!--xacro:include filename="$(find p3dx_cyton1500_fusion)/xacro/cyton1500_gripper.xacro"/-->
		
	
		<xacro:include filename="$(find kinect_description)/urdf/kinect.urdf.xacro"/>
		<xacro:kinect xyz="0.21 0.009 0.05 " rpy="0 0 0" parent_frame="top"/>
  		<gazebo reference="camera_link">  
    		<sensor type="depth" name="kinect">
    		  <always_on>true</always_on>
    		  <update_rate>30.0</update_rate>
    		  <camera>
    		    <horizontal_fov>1.0471975512</horizontal_fov>
    		    <image>
    		      <format>B8G8R8</format>
    		      <width>640</width>
    		      <height>480</height>
    		    </image>
    		    <clip>
    		      <near>0.05</near>
    		      <far>8.0</far>
    		    </clip>
    		  </camera>
    		  <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
    		    <cameraName>kinect</cameraName>
    		    <alwaysOn>true</alwaysOn>
    		    <updateRate>10</updateRate>
    		    <imageTopicName>rgb/image_raw</imageTopicName>
    		    <depthImageTopicName>depth/image_raw</depthImageTopicName>
    		    <pointCloudTopicName>depth/points</pointCloudTopicName>
    		    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
    		    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
    		    <frameName>be/camera_link</frameName>
    		    <baseline>0.1</baseline>
    		    <distortion_k1>0.0</distortion_k1>
    		    <distortion_k2>0.0</distortion_k2>
    		    <distortion_k3>0.0</distortion_k3>
    		    <distortion_t1>0.0</distortion_t1>
    		    <distortion_t2>0.0</distortion_t2>
    		    <pointCloudCutoff>0.4</pointCloudCutoff>
    		  </plugin>
    		</sensor>
  		</gazebo>



	

		<!-- Not a complete solution for getting gripper and lazer working together 
		<disable_collisions link1="QS18VP6LLP_laser_link" link2="gripper_finger1" reason="Adjacent" />
		<disable_collisions link1="QS18VP6LLP_laser_link" link2="gripper_finger2" reason="Adjacent" />
		<disable_collisions link1="QS18VP6LLP_laser_link" link2="wrist_roll" reason="Adjacent" />
		<disable_collisions link1="gripper_finger1" link2="wrist_roll" reason="Adjacent" />
		<disable_collisions link1="gripper_finger2" link2="wrist_roll" reason="Adjacent" />
	-->	 
		
</robot>


